.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    gap: 20px;
}
.form button {
    align-self: center;
}
.boxInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.butSubmit {
    width: 100px;
}
.error {
    color: red;
}